*{
	margin: 0;
	padding: 0;
}
html, body {
	min-height: 100vh;
}
body {
	display: grid;
	justify-items: center;
	align-items: center;
	background: #caf0f870;
}
svg {
	aspect-ratio: 1;
	width: 85vmin;
	box-shadow: 0 0 30px 1px #0077b6;
}
